.indexAbout{
    padding: 5em;
    display: flex;
    flex-direction: row;
    gap: 8em;
    justify-content: center;
    h3 {
        font-family: $poppins;
        font-size: 2em;
        font-weight: 800;
    }
    p {
        font-family: $poppins;
        font-size: 1em;
        line-height: 1.5em;
        margin: 1em 0;
    }
    blockquote {
        font-family: $poppins;
        font-size: 1.5em;
        line-height: 1.5em;
        margin: 1em 0;
        text-align: center;
    }
    blockquote:before {
        content: '˝';
        font-family: $poppins;
        font-size: 10em;
        color: rgba(128, 0, 128, 0.226);
        display: block;
        position: absolute;
       margin-left: 5px;
       margin-top: 65px;
    }
}
#indexAboutDj {
    border-radius: 10px;  
}
#indexAboutDj:before {
    content: " ";
    display: block;
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: $Purple;
}

/*#indexAboutDj:after {
    content: "hello";
    background-color: chartreuse;
    display: block;
    position: absolute;
    margin-bottom: 5px;
    margin-right: 5px;
}
*/
@media screen and (max-width:768px) {
    .indexAbout {
        flex-direction: column;
        padding-right: 0.5em;
        padding-left: 0.5em;
        padding-top: 4em;
        padding-bottom: 1em;
        gap: 1em;
    }
    #indexAboutDj {
        max-width: 100%;
    }
}